body{
    font-family: Arial, Helvetica, sans-serif
}

nav.navbar-menu{
    background: #B0E0E6;
}

nav.navbar-menu ul li a{
    color: black;
}

nav.navbar-menu ul li a:hover{
    color: #00008B;
}

.caixa{
    padding-top: 100px;
    padding-bottom: 10px;
}

footer{
    background: #B0E0E6;
    padding: 30px 0px 10px 0px;
    color: black;
    position: relative;
    font-size: 0.8em;
}


